<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
  </head>
  <body>

  <form action="/submit">
    <textarea id="note" name="note" rows="4" cols="50"></textarea><br>

    <select name="tags" id="tags" multiple>
      <option value="todo">todo</option>
      <option value="ankify">ankify</option>
      <option value="to-read">to-read</option>
    </select>
    <br>

    <input type="submit" value="Submit">
  </form> 

  </body>
</html>